.header {
    background: #0000ff;
    width: 100%;
    font-size: 2rem;
    color: #fff;
    margin: 10px;
    margin-top: 0;
    padding: 10px;
    
  }
  
  .title {
    float: left;
  }
  
  .scores {
    float: right;
  }